<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="m-3">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/users">About</a>
        <a class="nav-link" href="/tags">Contact</a>
      </div>
    </div>
  </nav>
  <main>
    <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <section class="messages">
        {% for category, msg in get_flashed_messages(with_categories=true) %}
          <p class="{{category}}">{{msg}}</p>
        {% endfor %}
        </section>
      {% endif %}
    {% endwith %}
    </div>
    {% block content %}{% endblock %}
  </main>
</body>
</html>