{% extends 'base.html' %}


{% block title %}
Add Feedback
{% endblock %}


{% block content %}

<h1 class="display-1">Add Feedback</h1>
<p class="lead">Please enter your feedback.</p>

<form method="POST">

  {{ form.hidden_tag() }}

  {% for field in form 
      if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field(class_="form-control") }}

    {% for error in field.errors %}
    <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
  </p>
  {% endfor %}

  <button class="btn btn-info" type="submit">Add Feedback</button>

</form>

{% endblock %}