{% extends 'base.html' %}


{% block title %}New User{% endblock %}


{% block content %}

<h1>Create a User</h1>
<div id="konteyn" class="container-sm">
  <form action="/users/new" method="POST">
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter a first name">
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter a last name">
    </div>
    <div class="form-group">
      <label for="image_url">Image URL</label>
      <input type="text" class="form-control" id="image_url" name="image_url" placeholder="Provide an image of this user">
    </div>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>

{% endblock %}